<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Write Article</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<div class="container">

    <a th:href="@{/}" class="btn btn-primary">back</a>
    <h1> Write Article </h1>

    <form th:action="@{/handle-add}" th:object="${subject}" method="post" enctype="multipart/form-data">

        <div>
            <img id="output" width="200" />
        </div>
        <div class="form-group">
            <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputsubject1" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputname1"> Title </label>
            <input type="name" name="title" class="form-control" id="exampleInputname1" aria-describedby="nameHelp" placeholder=" The Greatest Article in the world! ">
        </div>

        <div class="form-group">
            <label for="exampleInputAddress1"> Description </label>
            <input type="text" name="description" class="form-control" id="exampleInputAddress1" aria-describedby="nameHelp">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>